<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	{#    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>#}
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
	<style>
		label {
			display: block;
		}

		.expandableList {
			position: relative;
		}

		.expandableList .expanded::before {
			content: "";
			background-image: url("/static/images/expanded.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 10px;
			height: 10px;
			display: inline-block;
			margin-right: 0.5em;
		}

		.expandableList .expandable::before {
			content: "";
			background-image: url(/static/images/expandable.png);
			background-repeat: no-repeat;
			background-size: contain;
			width: 10px;
			height: 10px;
			display: inline-block;
			margin-right: 0.5em;
		}

		.expandableList ul {
			position: absolute;
			background-color: rgba(255, 255, 255, 0.8);
			padding-left: 0;
			padding-right: 0.5em;
			border: blue solid 1px;
			margin-top: 0.5em;
		}

		.expandableList ul > li {
			list-style: none;
		}

		.filters {
			margin: 1em 0;
		}

		.filters .filter {
			display: inline-block;
		}

		.filters .filter:not(:last-child) {
			padding-right: 1em;
			border-right: 2px darkgreen dotted;
		}

		.filters .filter:not(:first-child) {
			padding-left: 1em;
		}

	</style>
</head>
<body>

<h1><a href="/" style="text-decoration: none;">Google Play Advanced Search</a></h1>

{% verbatim %}
<div id="searchTool">
	<div id="searchBox">
		<input type="text" name="keyword" v-model='keyword'>
		<a :href=`/search?q=${encodeURIComponent(keyword)}` class="btn btn-primary">Search</a>
	</div>

	<div class="filters">
		<label class="filter"><input type="checkbox" checked>Allow in-app purchase</label>
		<label class="filter"><input type="checkbox" checked>Free install</label>
		<label class="filter"><input type="checkbox" checked>Allow ads</label>

		<div class="filter">
			Rating >
			<select style="width: 3em">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
		<div id="permissions" class="filter expandableList">
			<!--  v-bind:disabled is the same as :disabled -->
			<button v-bind:class="{expanded: permissionFilter.isExpanded, expandable:!permissionFilter.isExpanded}" :disabled="!hasPermissions" v-on:click="permissionFilter.isExpanded=!permissionFilter.isExpanded">{{permissionSummary}}</button>
			<ul v-show="permissionFilter.isExpanded" style="width: 500px">
				<li v-for="p in permissionFilter.items">
					<label> <input type="checkbox" :value=`permission${p.item.id}` v-model="p.checked"> {{ p.item.name }} </label>
				</li>
			</ul>
		</div>
		<div id="categories" class="filter expandableList">
			<button v-bind:class="{expanded: categoryFilter.isExpanded, expandable:!categoryFilter.isExpanded}" :disabled="!hasCategories" v-on:click="categoryFilter.isExpanded=!categoryFilter.isExpanded">{{categorySummary}}</button>
			<ul v-show="categoryFilter.isExpanded" style="width: 200px">
				<li v-for="p in categoryFilter.items">
					<label> <input type="checkbox" :value=`category${p.item.id}` v-model="p.checked"> {{ p.item.name }} </label>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endverbatim %}

{% if keyword %}
	{% verbatim %}
	<div id="appsList">
		<li v-for="app in apps">
			<a :href=`https://play.google.com/store/apps/details?id=${app.id}`>{{ app.appName }}</a>
			<img :src="app.app_icon">
			<br>
			<button type="button" class="collapsible">+</button>
			<div>
				<ul>
					<li>rating: {{ app.rating }}</li>
					<li>num_reviews: {{ app.num_reviews }}</li>
					<li>install_fee: ${{ app.install_fee }}</li>
					<li>inAppPurchases: {{ app.inAppPurchases }}</li>
				</ul>
			</div>
		</li>
	</div>
	{% endverbatim %}
{% endif %}

<p>We have recorded <span id="appCount"></span> apps, and it's increasing!</p>

<marquee> TEAM RANDOM: <br>
	Weikeng Yang <br>
	Qiqi Gu <br>
	Shuhua Zhan <br>
	Dongyao Liang <br>
	Yuchen Hu <br>
</marquee>

<script>
	const searchTool = new Vue({
		el: '#searchTool',
		data: {
			keyword: '{{ keyword }}',
			permissionFilter: {
				items: [],
				isExpanded: false
			},
			categoryFilter: {
				items: [{"item":{"id":15,"name":"Action"},"checked":true},{"item":{"id":16,"name":"Action & Adventure"},"checked":true},{"item":{"id":55,"name":"Communication"},"checked":true},{"item":{"id":56,"name":"Dating"},"checked":true},{"item":{"id":57,"name":"Arcade"},"checked":true}],
				isExpanded: false
			}
		},
		computed: {
			hasPermissions: function () {
				return this.permissionFilter.items.length > 0;
			},
			permissionSummary: function () {
				// `this` 指向 vue 实例
				if (!this.hasPermissions)
					return 'No permissions available';

				//I like groupBy because I can use checkedPermissions[true], checkedPermissions[false] to access it.
				//Another way is to use partition, then you access it by checkedPermissions[0], checkedPermissions[1].
				const checkedPermissions = _.groupBy(this.permissionFilter.items, p => p.checked);
				if (!checkedPermissions[false])
					return "Allow all permissions";
				if (checkedPermissions[false] && checkedPermissions[false].length <= 2)
					return 'Disallow ' + checkedPermissions[false].length + ": " + checkedPermissions[false].map(p => p.item.name).join(', ');
				if (checkedPermissions[true] && checkedPermissions[true].length <= 2)
					return 'Allow ' + checkedPermissions[true].length + ": " + checkedPermissions[true].map(p => p.item.name).join(', ');

				return 'Allow ' + checkedPermissions[true].length + ' permissions';
			},

			hasCategories: function () {
				return this.categoryFilter.items.length > 0;
			},
			categorySummary: function () {
				// `this` 指向 vue 实例
				if (!this.hasCategories)
					return 'No categories available';

				//I like groupBy because I can use checkedPermissions[true], checkedPermissions[false] to access it.
				//Another way is to use partition, then you access it by checkedPermissions[0], checkedPermissions[1].
				const checkedPermissions = _.groupBy(this.categoryFilter.items, p => p.checked);
				if (!checkedPermissions[false])
					return "Allow all categories";
				if (checkedPermissions[false] && checkedPermissions[false].length <= 2)
					return 'Disallow ' + checkedPermissions[false].length + ": " + checkedPermissions[false].map(p => p.item.name).join(', ');
				if (checkedPermissions[true] && checkedPermissions[true].length <= 2)
					return 'Allow ' + checkedPermissions[true].length + ": " + checkedPermissions[true].map(p => p.item.name).join(', ');

				return 'Allow ' + checkedPermissions[true].length + ' categories';
			}
		}
	});

<!--	searchTool.categorieFilter.items=[{"item":{"id":15,"name":"Action"},"checked":true},{"item":{"id":16,"name":"Action & Adventure"},"checked":true},{"item":{"id":55,"name":"Communication"},"checked":true},{"item":{"id":56,"name":"Dating"},"checked":true},{"item":{"id":57,"name":"Arcade"},"checked":true}] -->

	fetch('{% url 'Api/AppCount' %}'{% if refetchAppCount %}, {cache: "no-cache"} {% endif %}).then(response => response.text()).then(text => {
			$("#appCount").text(text);
		}
	);


	fetch('{% url 'Api/Permissions' %}').then(r => r.json()).then(data => {
		searchTool.permissionFilter.items = data.map(p => {
			return {item: p, checked: true}
		});
	});

	fetch('{% url 'Api/Categories' %}').then(r => r.json()).then(data => {
		searchTool.categoryFilter.items = data.map(p => {
			return {item: p, checked: true}
		});
	});

</script>
{% if keyword %}
	<script>
		fetch('{% url 'Api/Search' %}?q=' + encodeURIComponent('{{ keyword }}')).then(r => r.json()).then(data => {
			new Vue({
				el:"#appsList",
				data:{
					apps:data
				}
			});
		});
	</script>
{% endif %}
</body>
</html>


