<h1>Google Play Advanced Search</h1>

<div>
	<form action="/advance_search/keyword_search" method="post">
		{% csrf_token %}
		<input type="text" name="keyword" value={{ previous_keyword }}>
		<input type="submit" value="Search">
	</form>
</div>

{% if appCount %}
	<p>We have recorded {{appCount}} apps, and it's increasing!</p>
{% endif %}


<script type="text/javascript">
	data = "{{ urls }}"
	for(const url of data){
		document.write(url)
	}

</script>


{% if urls %}
	{% for url in urls %}
		<li><a href="{{ url }}">play.google.com{{ url }}</a></li>
	{% endfor %}
{% endif %}




