<h1>Google Play Advanced Search</h1>

<div>
	<form action="/advance_search/keyword_search" method="post">
		{% csrf_token %}
		<input type="text" name="keyword" value={{ previous_keyword }}>
		<input type="submit" value="Search">
	</form>
</div>

{% if appCount %}
	<p>We have recorded {{appCount}} apps, and it's increasing!</p>
{% endif %}

{% if app_ids %}
	{% for app_id in app_ids %}
		<li><a href="http://play.google.com/store/apps/details?id={{ app_id }}">http://play.google.com/store/apps/details?id={{ app_id }}</a></li>
	{% endfor %}
{% endif %}




