name: Python application

on:
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r src/GooglePlayAdvancedSearch/tests/requirements.txt
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: install sqlite 3.31
      run: |
          curl -O  https://www.sqlite.org/2020/sqlite-autoconf-3310100.tar.gz
          tar xvfz sqlite-autoconf-3310100.tar.gz
          cd sqlite-autoconf-3310100/
          ./configure
          make
          sudo make install
          sudo LD_RUN_PATH=/usr/local/lib ./configure

    - name: Test with pytest
      run: |
        pip install pytest
        export LD_LIBRARY_PATH="/usr/local/lib"
        pytest --rootdir=src/GooglePlayAdvancedSearch/tests --tb=short
